
<div class="ba-container">
<div class="ba-slider">
  <img src="/img-original.jpg" alt="original" class="banner-image"/>       
  <div class="resize">
    <img src="/img-modified.jpg" alt="modified" class="banner-image"/>
  </div>
  <span class="handle"></span>
</div>
</div>