<!-- The scrollable area -->
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<!-- The navbar - The <a> elements are used to jump to a section in the scrollable area -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle Nav</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar""></span>
      </button>
      <a class="navbar-brand" href="#">Stephanie Dacre</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#about">About</a></li>
        <li><a href="#work">Work</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>



<%= stylesheet_link_tag 'style'%>
<div id="particles-js">
</div>
<h1 class="banner">Hi, my Name is Stephanie.<br>
I build websites.</h1>
<%= javascript_include_tag 'particles', 'app'%>

<div class="container-fluid bg-white">
  <div class="section" id="about">
    <h1 class="title animated slideInRight">About<br><span class="glyphicon glyphicon-minus"></span></h1>

  </div>

  <div class="section">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
        <%= image_tag ("codinphoto.png"), :class => "profile"%>
    <span class="profile-text"><span class="glyphicon glyphicon-arrow-right"></span>I'm a full stack web developer located in Victoria BC.<br><br>
    <span class="glyphicon glyphicon-arrow-right"></span>I have a passion for UX/UI elements & spend most of my time learning front-end skills. <br><br>
    <span class="glyphicon glyphicon-arrow-right"></span>I'm currently looking for a mentor, a full time position, or an internship in a growth centric company.<br><br>
    <span class="glyphicon glyphicon-arrow-right"></span>In the meantime, I'm freelancing! Lets create something together.
    </span>
    </div>
    </div>

    <div class="col-sm-4" id="center">
      <h1>Stack</h1>
      <div class="skillBox">
        <p>HTML5</p>
        <p>90%</p>
          <div class="skill">
            <div class="skill_level" style="width: 90%">
            </div>
          </div>
      </div>
      <div class="skillBox">
        <p>CSS3</p>
        <p>70%</p>
        <div class="skill">
          <div class="skill_level" style="width: 70%">
          </div>
        </div>
      </div>
      <div class="skillBox">
        <p>Javascript & Jquery</p>
        <p>60%</p>
        <div class="skill">
          <div class="skill_level" style="width: 60%">
          </div>
        </div>
      </div>
      <div class="skillBox">
        <p>Ruby on Rails</p>
        <p>80%</p>
        <div class="skill">
            <div class="skill_level" style="width: 80%">
            </div>
        </div>
      </div>
      <div class="skillBox">
        <p>React</p>
        <p>50%</p>
        <div class="skill">
            <div class="skill_level" style="width: 50%">
            </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- end of container -->

