/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.ba-container {
  width: 100%;
}

.ba-slider {
  position: relative;
  overflow: hidden;
}

.ba-slider img {
  width: 100%;
  display: block;
}

.resize {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.handle {
  /* Thin line seperator */
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 4px;
  margin-left: -2px;
  background: rgba(0, 0, 0, .5);
  cursor: ew-resize;
}

.handle:after {
  /* Big green knob  */
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  margin: -32px 0 0 -32px;
  content: '\21ff';
  color: #008000;
  /* a dark green */
  font-size: 48px;
  text-align: center;
  line-height: 64px;
  background: #2196F3;
  /* @darker green of gradient */
  border: .5px solid #008000;
  /* a green */
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3), inset 0 2px 0 rgba(255, 255, 255, .5), inset 0 60px 50px -30px #e6ffe6;
  /* lighter green in gradient */
}

.draggable:after {
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  line-height: 48px;
  font-size: 30px;
}

/*.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;

  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}*/

