

* {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  }



/* colors rows */

.bg-orange {
  background-color: #FED99B;
}

.bg-blue{
  background-color: #D6EFFF;
}

.title {
  font-size: 120px;
}

/*allows for bootstrap scrollspy*/
body {
  position: relative;
}



.bg-black {
  padding-top: 150px;
  background-color: white;
}


.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: 'EB Garamond', serif;
}
