/* site wide */
* {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  }
body {
  padding-top: 70px;
}
 html, body {
  height:100%;
}

/* colors rows */
.bg-orange {
  background-color: #FED99B;
  padding-bottom: 100px;
}
.bg-white {
  background-color: white;
  padding-bottom: 100px;
}

/* portfolio card styling */
.card {
box-sizing: border-box;
box-shadow: 0 20px 50px rgba(0,0,0,.5);
max-width:100%;
max-height:100%;

}
.card img {
  padding-top: 15px;
}


/* skillbox styling */
.row-skills {
  font-family: 'EB Garamond', serif;
  background: white;
}
#center {
  padding: 55px;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,.5);
}
#center h1 {
  margin: 0;
  padding: 0;
  color: black;
  letter-spacing: 2px;
}
.skillBox {
  box-sizing: border-box;
  width: 100%;
  margin: 0px 0;
}
.skillBox p {
  color: black;
  margin: 0 0 10px;
  padding: 0;
  font-family: 'EB Garamond', serif;
  letter-spacing: 1px;
}
.skillBox p:nth-child(2) {
  float:right;
  position: relative;
  top: -25px;
}
.skill {
  background: #262626;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 2px;
}
.skill_level {
  background: purple;
  width: 100%;
  height: 10px;
}


/* about row styling */
.profile-desc {
  padding: 20px;
  font-size: 22px;
}
.profile-icon{
  margin: 0 auto;
  height: 100px;
  width: 100px;
}
.profile-icon:hover {
    animation: bounce 1s;
}

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

/* portfolio grid styling */
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.card:hover .image {
  opacity: 0.3;
}
.card:hover .middle {
  opacity: 1;
}
.text {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}


/* connect row styling */
 .title {
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 40px;
  color: purple;
  text-align: center;
  text-decoration: underline;
}

.section-info {
  padding-top: 50px;
}

.connect-info {
  font-size: 20px;
}
.collab {
  font-size: 28px;
  text-decoration: bold;
}
/* hi i'm steph particles js writing */
.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: 'EB Garamond', serif;
}

@media only screen and (min-width: 600px) {
    .collab {
    font-size: 30px;
    text-decoration: bold;
    }
    .connect-info {
    font-size: 22px;
    }
    .title {font-size: 35px;
    }
    .banner {font-size: 20px;
    }
} 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .collab {
    font-size: 30px;
    text-decoration: bold; 
    }
    .connect-info {
    font-size: 25px;
    } 
    .title {font-size: 45px;
    }
    .banner {font-size: 30px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .collab {
     font-size: 45px;
     text-decoration: bold;
    }
    .connect-info {
    font-size: 26px;
    } 
    .title {font-size: 45px;
    }
    .banner {font-size: 45px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .collab {
    font-size: 40px;
    text-decoration: bold;
  }
  .connect-info {
    font-size: 26px;
  }
  .title {font-size: 48px;
  }
  .banner {font-size: 48px;
  }
}

.collaborations {
  width: 250px;
  height: 200px;
}

.bigger { 
  font-size:200%;
   }

.skills { 
  font-size: 18px;
}
/* Sticky footer styles
-------------------------------------------------- */
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 55px auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #FED99B;
}
.container .credit {
  margin: 20px 0;
  text-align: center;
}

.shopify_glyph {
  width: 25px;
  height: 25px;
}
