

* {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  }



/* colors rows */

.bg-orange {
  background-color: #FED99B;
}

.bg-blue{
  background-color: #D6EFFF;
}

.title {
  font-size: 120px;
}

.banner-text {
  font-size: 100px;
}


/*allows for bootstrap scrollspy*/
body {
  position: relative;
}


.logo {
    font-size: 200px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.center {
    margin: auto;
    width: 50%;
}

.flower img {
max-width:100%;
max-height:100%;

}